{%extends "base.html"%}

{%block content%}

    <main>
        <div class="container">
            {% for produto in listaprodutos %}
                {{produto.nome}}
            {% endfor %}

            <div class="container">
                <div class="row">
                    <h3 class=center>Produtos Cadastrados</h3>
                    <table>
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Descriçao</th>
                                <th>Data Validade</th>
                            </tr>
                        </thead>            
                        <tbody>
                            {% for obj in listaprodutos %}
                                <tr>
                                    <td>
                                        {{ obj.produto.nome }}
                                    </td>
                                    <td>
                                        {{ obj.produto.descricao}}
                                    </td>
                                    <td>
                                        {{ obj.data_validade }}
                                    </td>
                                </tr>
                            {% endfor%}
                        </tbody>
                    </table>
                </div>
            </div> 

            <div class="container center">
                <a href="{% url 'movimentacao' %}" class="btn btn-secondary blue-grey darken-4 text-white" type="button">
                    <span class="text">Movimentação</span>
                </a>
            </div>

        </div>
        
    </main>


{%endblock%}