{%extends "base.html"%}

{%block content%}

<h4 class=center>Produtos Cadastrados</h4>

<br>

    <main>
        <div class="container">


            <div class="container">
                <div class="row">
                    <table>
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Descriçao</th>
                                <th>Tipo</th>
                            </tr>
                        </thead>            
                        <tbody>
                            {% for obj in listaprodutos %}
                                <tr>
                                    <td>
                                        {{ obj.nome }}
                                    </td>
                                    <td>
                                        {{ obj.descricao}}
                                    </td>
                                    <td>
                                        {{ obj.status_tipo }}
                                    </td>
                                </tr>
                            {% endfor%}
                        </tbody>
                    </table>
                </div>
            </div> 

            <div class="container center">
                <a href="{% url 'movimentacao_entrada' %}" class="btn btn-secondary blue-grey darken-4 text-white" type="button">
                    <span class="text">Entrada</span>
                </a>

                <a href="{% url 'movimentacao_saida' %}" class="btn btn-secondary blue-grey darken-4 text-white" type="button">
                    <span class="text">Saída</span>
                </a>
            </div>

        </div>
        
    </main>


{%endblock%}