{% extends 'base.html' %}

{% load materializecss %}

{% block content %}

<h4 class=center>Cadastrar Empresa</h4>

<br>
<br>

    <form method="POST" class="col s12">
        <div class="container">

                <div class="container">

                    {% csrf_token %}

                    <div class="input-field col s6">
                        {{ form.nome_empresa|materializecss:"icon=store" }}      
                    </div>

                    <div class="input-field col s6">
                        {{ form.telefone|materializecss:"icon=contact_phone" }}  
                    </div>

                    <div class="input-field col s6">
                        {{ form.estado|materializecss:"icon=place" }}                    
                    </div>

                    <div class="input-field col s6">
                        {{ form.cidade|materializecss:"icon=place" }}  
                    </div>
                    
                    <div class="text-right">
                        <a href="{% url 'index' %}" class="btn btn-secondary blue-grey darken-4 text-white" type="button">
                            <span class="text">Cancelar</span>
                        </a>
                        <button class="btn btn-primary blue-grey darken-4" type="submit">
                            <span class="text">Cadastrar</span>
                        </button>
                    </div>

                </div>           
        </div>
    </form>

{% endblock %}